// ::v-deep {
//   .el-progress-bar__outer {
//     background-color: #1c366f;
//   }
// }
.screen-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;

  #screen {
    background-color: rgba(1, 39, 70,1);
    display: inline-block;
    width: 1920px; //设计稿的宽度
    height: 1080px; //设计稿的高度
    transform-origin: 0 0;
    position: absolute;
    left: 50%;
    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      background-color: #327c91;
      &_title {
        font-size: 32px;
        color: #cab0b2;
        font-weight: 600;
      }
    }

 
    .content {
      padding:0 30px;
      display: flex;
      background-color: rgb(1, 39, 70);
      .left>div {
        border: 1px solid rgba(232, 232, 231,0.2);
        margin: 10px 0;
      }
      .center {
        width: 1100px;
        height: 675px;
        margin: 10px;
        position: relative;
        padding: 10px;
        background-color: rgb(0, 25, 37);

        .jiao {
          &>div {
            position: absolute;
            width: 22px;
            height: 22px;
            border-width: 3px;
          }

          &_1 {
            left: 0;
            top: 0;
            border-top: 2px solid #11ebd7;
            border-left: 2px solid #11ebd7;
          }

          &_2 {
            right: 0;
            top: 0;
            border-top: 2px solid #11ebd7;
            border-right: 2px solid #11ebd7;
          }

          &_3 {
            left: 0;
            bottom: 0;
            border-bottom: 2px solid #11ebd7;
            border-left: 2px solid #11ebd7;
          }

          &_4 {
            right: 0;
            bottom: 0;
            border-bottom: 2px solid #11ebd7;
            border-right: 2px solid #11ebd7;
          }
        }

        .center_top {
          display: flex;
          height: 100%;
          &-left {
            // box-shadow: 0 0 9px 8px #0034512e;
            border: 1px solid rgba(11, 162, 161, .14);
            padding: 40px 36px;

            &-title {
              color: white;
              text-align: center;
              height: 30px;
              line-height: 30px;
              text-align: center;
              font-size: 14px;
              color: #11ebd7;
              background: linear-gradient(270deg, rgba(39, 247, 237, 0) 0%, rgba(17, 235, 215, .16) 49%, rgba(17, 235, 215, .01) 82%, rgba(17, 235, 215, 0) 100%);
              border-radius: 0 0 13px 13px;
            }

            &-header {
              display: flex;
              color: #e62f3d;
              margin: 10px 0;
              padding: 0 16px;
              font-size: 14px;
              justify-content: space-between;
            }

            .row {
              display: flex;
              width: 200px;
              border-radius: 10px;
              border: none;
              font-size: 14px;
              color: #fff;
              align-items: center;
              margin: 22px 0;
            }

            .order-div {
              background: #3847f9;
              opacity: 0.5;
              font-size: 10px;
              text-align: center;
              border-radius: 8px;
              width: 20px;
              height: 20px;
              border-radius: 99px;
              flex: none;
              // background-color: rgba(181, 225, 88, 0.6);
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 8px;
            }

            .item-div {
              width: 100%;
              height: 100%;
              // background-color: rgb(229, 221, 209);
            }

            .message-div {
              width: 40%;
              height: 100%;
              text-align: right;
            }
          }

          &-center {
            width: 550px;
            height: 550px;
            // background: #bfa;
            .dance{
              width: max-content;
              margin: 0 auto;
              p{
                margin:  0 0 10px;
              }
            }
          }
          &-right{
            .zhexian{
              margin: 10px 0;
            }
          }
        }
        &_bottom{
          color: white;
          margin-top: 26px;
          &-left{
            width: 80%;
            height: 100%;
            display: flex;
            background-color: rgb(0, 25, 37);
            &>div{
              width: 33%;
            border: 1px solid rgba(60, 52, 52,0.8);
            margin: 0 10px;
            background-color: rgb(0, 25, 37);
            }
            &_1{
              color: red;
            }
          }
        }
      }
   
    }
  }
}